:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
  }
  * {
    box-sizing: border-box;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .row {
    display: flex;
    justify-content: space-around;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  }
  .App {
    text-align: center;
  }
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px; /* Adjust the width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .pokemon-type {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      }
      
      .pokemon-type ul {
      list-style: none;
      padding: 0;
      display: flex;
      }
      
      .pokemon-type li {
      margin-right: 5px; /* Adjust spacing between types */
      padding: 5px;
      border: 1px solid; /* Thicker outline */
      background-color: aqua;
      border-radius: 30%; /* Make circular */
      width: 60px;
      height: 20px; /* Set the same height as width for perfect circle */
      display: flex;
      justify-content: center;
      align-items: center;
      } 

    .pokemon-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      }  
  .pokemon-image {
      text-align: center;
      }
      
      .pokemon-image img {
      max-width: 200px;
      height: auto;
      } 
  .pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pokemon {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
  }


  .language-buttons button {
    margin-right: 5px;
    background-color: yellow;
  }


}
